.form {
  width: 360px;
}

.form label:first-child {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  height: 64px;
  width: 360px;
  margin-bottom: 8px;
}

fieldset input {
  border: 1px solid #757575;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

fieldset label {
  display: flex;
  gap: 8px;
}

fieldset legend {
  margin-left: 28px;
}

.form button {
  width: 100%;
  font-weight: 500;
  color: #fff;
}
